/**************************/
/* BELOW 375px (Phones) */
/**************************/

@media (max-width: 375px) {
  .container {
    max-width: 35rem;
    height: 44rem;
    margin: 5rem 2rem;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 6fr;
  }
}
